@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parent-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .main-row {
    height: 100%;

    .spinner-holder {
      width: 0px;
      height: 0px;
      position: relative;
      top: calc(50% - 2.5em);
      left: calc(50% - 2.5em);
      z-index: 1;

      .spinner-border {
        z-index: 2;
        height: 5em;
        width: 5em;
      }
    }

    @include media-breakpoint-down(lg) {
      flex-direction: column-reverse;

      > .flex-50 {
        flex-basis: 50%;
      }
    }
  }

  .map-container {
    height: 100%;
    border-radius: 25px;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.65;
}
