@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.btn-group > .btn-check:checked + .btn {
  z-index: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.col-lg-4 {
  overflow: auto;

  h1 {
    font-family: "UniSansHeavyItalic";
    padding: 1em;
  }

  .container {
    span.badge {
      margin-left: 0.5em;
    }
  }
}

@font-face {
  font-family: "UniSansHeavyItalic";
  src: url("../fonts/UniSansHeavyItalic.otf") format("opentype");
}

@include media-breakpoint-down(lg) {
  .medium-remove {
    display: none;
  }
}

.find-route-button {
  width: 25%;
}
